@import url(https://fonts.googleapis.com/css?family=Poetsen+One:regular);

html{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: aqua;
}

h1,
button{
  font-family: Poetsen One;
  text-align: center;
}

h1{
  margin-bottom: 250px;
}

button{
  height: 100px;
  width: 100px;
  margin-inline: 45px;
  
}

.buttonDec{
  background-color: red;
  font-size: 2vw;
}
.buttonRes{
  background-color: aqua;
  font-size: 1vw;
}
.buttonInc{
  background-color: green;
  font-size: 2vw;
}